<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Expenses</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content  class="expenseHBox">

    <ion-searchbar placeholder="Search"></ion-searchbar>
      <ion-button id="open-Expense-modal"  expand="block" class="subcripBtn" size="large" fill="clear">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      
     </ion-card-content>
     <ion-list>
      <ion-item detail="true" *ngFor="let item of items">
        <ion-label>
          <div class="expense-item-container">
          <h2>{{ item.name }}</h2>
          <h2> $ {{ item.price }}</h2>
          </div>
          <p>Description: {{ item.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
