<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Welcome Sumanth!</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-item>
    <ion-label>Report for </ion-label>
    <ion-datetime-button datetime="datetime" displayFormat="MMM DD, YYYY" ></ion-datetime-button>
  </ion-item>
  <ion-card color="dark">
  <div  class="chart-container dashBoardPiechart piechart-wrapper" >
    <canvas id="pie-chart"></canvas>
  </div>
</ion-card>
  <div class="graph-container">
    <canvas id="line-chart"></canvas>
  </div>
 
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
</ion-content>


 
