
.chart-wrapper {
    width:90%;
    display: inline-block;
 }
.progressbar{
    margin-left: 5%;
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
}

.progress-text {
    font-size: 14px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    width: 100%;
  }
  
