<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    
    <ion-button expand="block" color="primary" (click)="loginClicked()">Login</ion-button>
    
    <div class="ion-text-center ion-padding-top" style="
    background: black">
      <a href="#">Forgot Password?</a>
    </div>
    
    <div class="ion-text-center" style="
    background: black">
      Don't have an account? <a (click)="registerClicked()" >Register</a>
    </div>
  </ion-card>
  </ion-content>
