<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input  placeholder="888-888-8888" type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input placeholder="Name"  formControlName="fullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="email@domain.com" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">Register</ion-button>
  </form>
</ion-content>
