<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-card-header class="expense-item-container">
        <ion-avatar>
          <img src="assets/img/profile.png">
        </ion-avatar>
        <div class="profileName">
          <ion-card-title >{{ userData.fullName }}</ion-card-title>
          <ion-card-subtitle>Premium User</ion-card-subtitle>
        </div>
        
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item  >
            <ion-icon name="mail"></ion-icon>
            <ion-label class="ion-text-end"   >{{ userData.emailId }}</ion-label>
            
          </ion-item>
          <ion-item>
            <ion-icon name="call"></ion-icon>
            <ion-label class="ion-text-end" >{{ userData.phoneNumber }}</ion-label>
            
          </ion-item>
          <ion-item>
            <ion-icon name="location"></ion-icon>
            <ion-label class="ion-text-end">Virginia, USA</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd"></ion-icon>
            <ion-label class="ion-text-end">{{ userData.budget }}</ion-label>
          </ion-item>
        
        </ion-list>
      </ion-card-content>

    </ion-card>
    <ion-list>
      <ion-item id="open-modal" >
        <ion-icon color="primary"  name="settings-outline" slot="start"></ion-icon>
        <ion-label>Preferences</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon color="secondary"  name="mail-outline" slot="start"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-item>
        <ion-item (click)="logout()">
          <ion-icon color="danger"  name="log-out" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        
    </ion-list>
    
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Preferences</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <ion-content>
          
          
          
          <ion-item>
            <ion-label>Budget</ion-label>
         
            <ion-input label="Outline input" label-placement="floating"  class="ion-text-end" type="number" fill="outline"
              placeholder="0.00" [(ngModel)]="userData.budget"></ion-input>
          </ion-item>
          
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-label class="company-name">Budget Boss</ion-label>
  </ion-toolbar>
</ion-footer>