<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-card-header class="expense-item-container">
        <ion-avatar>
          <img src="assets/img/profile.png">
        </ion-avatar>
        <div class="profileName">
          <ion-card-title>Sumanth Nandeti</ion-card-title>
          <ion-card-subtitle>Premium User</ion-card-subtitle>
        </div>
        
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item  >
            <ion-icon name="mail"></ion-icon>
            <ion-label class="ion-text-end">john.doe@example.com</ion-label>
            
          </ion-item>
          <ion-item>
            <ion-icon name="call"></ion-icon>
            <ion-label class="ion-text-end">+1 123 456 7890</ion-label>
            
          </ion-item>
          <ion-item>
            <ion-icon name="location"></ion-icon>
            <ion-label class="ion-text-end">Virginia, USA</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
