<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{expenseDetails.expenseName || expenseDetails.subscriptionName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100%;">
  <ion-card style="height: 80%;">
    <div *ngFor="let key of expenseKeys">
      <ion-item  *ngIf="key !== 'id'">
        <ion-label >{{key}}</ion-label>
        <ng-container *ngIf="key !== 'category' && key !== 'expenseDate' && key !== 'billingDate' && key !== 'billingCycle' && key !== 'sendReminder'">
          <ion-input [(ngModel)]="expenseDetails[key]" class="ion-text-end" slot="end"></ion-input>
        </ng-container>
        
        <ion-select aria-label="Category" placeholder="Select category" *ngIf="key === 'category'" [(ngModel)]="expenseDetails[key]">
          <ion-select-option *ngFor="let category of categoriesData" [value]="category.categoryName">
            {{category.categoryName}}
          </ion-select-option>
        </ion-select>
        <ng-container *ngIf="key == 'expenseDate' || key == 'billingDate'">
            <ion-input value="{{ expenseDetails[key] | date: 'dd/MM/yyyy' }}" id="date" class="ion-text-end"></ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="expenseDetails[key]"></ion-datetime>
              </ng-template>
            </ion-popover>
        </ng-container>
        <ng-container *ngIf="key == 'billingCycle'">
          <ion-select aria-label="billingcycle" placeholder="Select cycle" [(ngModel)]="expenseDetails[key]">
            
              <ion-select-option value="daily">Daily</ion-select-option>
              <ion-select-option value="weekly">Weekly</ion-select-option>
              <ion-select-option value="monthly">Monthly</ion-select-option>
              <ion-select-option value="yearly">Yearly</ion-select-option>
            </ion-select>
         
      </ng-container>
      <ng-container *ngIf="key == 'sendReminder'">
        <ion-select aria-label="reminder" placeholder="Select reminder type" [(ngModel)]="expenseDetails[key]">
          <ion-select-option value="never">Never</ion-select-option>
          <ion-select-option value="sameday">Same Day</ion-select-option>
          <ion-select-option value="oneday">One Day Prior</ion-select-option>
          <ion-select-option value="twodays">Two Days Prior</ion-select-option>
          <ion-select-option value="threedays">Three Days Prior</ion-select-option>
        </ion-select>
      </ng-container>
      </ion-item>
    </div>
  </ion-card>
  <div>
    <ion-button style="width: 30%; margin-left: 10%;" (click)="updateDetails()">Save</ion-button>
    <ion-button style="width: 30%; float: right; margin-right: 10%;" [routerLink]="!isSubscription ? ['/tabs/tab2'] : ['/tabs/tab3']">Cancel</ion-button>
  </div>
</ion-content>